@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The World Development Indicators from the World Bank contain over a thousand annual indicators of economic development from hundreds of countries around the world.</p>
<p> This web portal has been built with Microsoft SQL Server utilizing ASP.NET MVC architecture. Additional analysis on the dataset has been done via Python.</p>