@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1979 Milky Way<br />
    Verona, WI<br />
    <abbr title="Phone">P:</abbr>
    608.271.9000
</address>

<address>
    <strong>Development - Sam Adams:</strong>   <a href="mailto:sajadams@gmail.com">sajadams@gmail.com</a><br />
    <strong>Analytics - Mike Huang:</strong> <a href="mailto:miked.huang@gmail.com">miked.huang@gmail.com</a>
</address>