@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Development Indicators</h1>
    <p class="lead">The World Development Indicators from the World Bank contain over a thousand annual indicators of economic development from hundreds of countries around the world.</p>
    <p><a href="/Countries" class="btn btn-primary btn-lg">Countries &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Select the Countries link above to explore the various countries in this database and drill into indicators.
        </p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Discuss your findings</h2>
        <p>Check out the below link for a forum on this dataset.</p>
        <p><a class="btn btn-default" href="https://www.kaggle.com/worldbank/world-development-indicators/discussion">Discuss &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dig in further</h2>
        <p>Download the raw data set from the below link.</p>
        <p><a class="btn btn-default" href="https://www.kaggle.com/worldbank/world-development-indicators">Download &raquo;</a></p>
    </div>
</div>